# Інструменти якості коду для основного оточення .venv
# Встановлення:  pip install -r requirements-dev.txt
#
# Створювалося з робочого оточення на Python 3.12.9.

black==26.5.1
flake8==7.3.0
isort==8.0.1
pylint==4.0.7
pytest==9.1.1
